# loc, iloc, []

In [3]:
import pandas as pd

column_values = [f'Column{i}' for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)]

df = pd.DataFrame([[f'{ind}{col}' for col in range(1, 5)] for ind in index_values], 
                  index=index_values, columns=column_values)

df

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [6]:
df.iloc[1, 0]

# using slice on one axis returns a pandas series object

df.iloc[1, :] # kolumner blir index
df.iloc[:, 0] # rader blir index

A    A1
B    B1
C    C1
D    D1
E    E1
F    F1
G    G1
Name: Column1, dtype: object

In [8]:
df.loc['A', :] # kolumner blir index
df.loc[:, 'Column1'] # rader blir index

Column1    A1
Column2    A2
Column3    A3
Column4    A4
Name: A, dtype: object

In [10]:
df.iloc[[1, 3], [2, 3]]

  Column3 Column4
B      B3      B4
D      D3      D4

In [11]:
df[['Column2', 'Column3']]

  Column2 Column3
A      A2      A3
B      B2      B3
C      C2      C3
D      D2      D3
E      E2      E3
F      F2      F3
G      G2      G3

In [12]:
df['Column2'][1]

C:\Users\Johan\AppData\Local\Temp\ipykernel_1200\4186472837.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Column2'][1]

'B2'