### Query

In [2]:
import numpy as np
import pandas as pd

In [3]:
floats = pd.DataFrame(np.random.randn(7, 4), columns=['A', 'B', 'C', 'D'])
floats

          A         B         C         D
0 -0.710306 -1.214389  0.434236  0.555664
1 -0.893716 -1.115621  0.391051  1.130489
2  0.708975 -0.656254  0.479262 -1.050786
3  1.084670  0.240980 -1.301148 -0.508821
4 -0.165891  0.358769  1.080228  1.700576
5  0.128957 -0.363350 -0.588989  0.520767
6 -1.721640 -0.632786  0.969579 -0.627411

In [5]:
# Creating bool mask
floats['B'] >= 0

# selecting all rows where ...
floats[floats['B'] >= 0]

          A         B         C         D
3  1.084670  0.240980 -1.301148 -0.508821
4 -0.165891  0.358769  1.080228  1.700576

### Pandas querying

In [ ]:
autos = pd.read_csv()

autos[autos['make'] == 'volvo']

autos.query('make == "volvo"')
autos.query('`engine-size` <= 140')

autos[(autos['make'] == 'volvo') & (autos['engine-size'] <= 140)]
autos.query('`engine-size` <= 140 and make == "volvo"')

autos[(autos['make'] == 'volvo'), ['price']] = 0

### sorting dataframe

In [ ]:
autos.sort_values(by=['make', 'engine-size'], ascending=[True, False])