## Exercises: Filter and query data

In [1]:
import pandas as pd
autos = pd.read_json("../Data/autos.json")

**Use the "autos" dataset to answer the following questions:**

**Q1:** How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

In [10]:
jaguars = autos.query('make == "jaguar"')

print(f'Shape: {jaguars.shape}')
print(f'Max price: {jaguars["price"].max()}')

Shape: (3, 26)
Max price: 36000.0

**Q2:** How many cars from Toyota are in the dataset, and what is the price of the most expensive one?

In [13]:
toyotas = autos.query('make == "toyota"')

print(f'Shape: {toyotas.shape}')
print(f'Max price: {toyotas["price"].max()}')

Shape: (32, 26)
Max price: 17669.0

**Q3:** What is the length, width and height of the most expensive car in the entire dataset?

In [70]:
max_price = autos.sort_values('price', ascending=False)
max_price.loc[max_price.index[0], ['length', 'width', 'height']]

length    199.2
width      72.0
height     55.4
Name: 74, dtype: object

**Q4:** What is the lowest price per horsepower in the dataset, and what brand ("make") is that car?

In [35]:
q4 = autos.copy()

q4['price / horsepower'] = q4['price'] / q4['horsepower']
q4.sort_values('price / horsepower', inplace=True)
q4.loc[q4.index[0], ['make', 'price', 'horsepower', 'price / horsepower']]

make                     toyota
price                    8449.0
horsepower                116.0
price / horsepower    72.836207
Name: 167, dtype: object

**Q5:** How many of the cars in the dataset has as many cylinders as they have doors?

In [43]:
q5 = autos.copy()

q5.query('`num-of-cylinders` == `num-of-doors`', inplace=True)
q5.shape

(95, 26)

**Use the "autos" dataset and write python code to solve the following tasks:**

**T1:** Print a string to inform the user of the price difference between the cheapest and the most expensive car in the dataset.

In [45]:
t1 = autos.copy()

print(f'The difference is {t1["price"].max() - t1["price"].min()}')

The difference is 40282.0

**T2:** Ask the user to input a brand, then print the price range for that brand.

In [55]:
input_brand = input('Enter a brand:')

t2 = autos.copy()

q = t2.query(f'make == "{input_brand}"')

if len(q) > 0:
    print(f'The prices of cars of brand {input_brand} ranges from {q["price"].min()} to {q["price"].max()}')
else:
    print(f'The brand {input_brand} does not exist in the dataset')

The prices of cars of brand volvo ranges from 12940.0 to 22625.0

**T3:** Ask the user to input a brand, then print the number of cars in the dataset for that brand, and all attributes for a random sample car of that brand.

In [71]:
input_brand = input('Enter a brand:')

t3 = autos.copy()

q = t3.query(f'make == "{input_brand}"')

if len(q) > 0:
    print(f'Number of cars of brand {input_brand}: {len(q)}. Random sample:\n')
    print(q.sample(1))
else:
    print(f'The brand {input_brand} does not exist in the dataset')

Number of cars of brand mazda: 17. Random sample:

   aspiration body-style  bore  city-mpg  compression-ratio  curb-weight  \
62        std      sedan  3.39        26                8.6         2410

   drive-wheels engine-location  engine-size engine-type fuel-system  \
62          fwd           front          122         ohc        2bbl

   fuel-type  height  highway-mpg  horsepower  length   make  \
62       gas    55.5           32        84.0   177.8  mazda

    normalized-losses num-of-cylinders num-of-doors  peak-rpm    price  \
62              115.0             four         four    4800.0  10245.0

    stroke  symboling  wheel-base  width
62    3.39          0        98.8   66.5

**T4:** Ask the user to input a brand, then export all cars of that brand to a .csv file with the same name as the brand.

In [69]:
input_brand = input('Enter a brand:')

t4 = autos.copy()

q = t4.query(f'make == "{input_brand}"')

if len(q) > 0:
    with open('..\\Data\\input_brand.csv', 'w') as file:
        file.write(str(q))
else:
    print(f'The brand {input_brand} does not exist in the dataset')

The brand tesla does not exist in the dataset