## Exercises: Modify the dataset

In [129]:
import pandas as pd
employees = pd.read_json("../Data/employees.json")

**Current state of the "employees" dataset**

Rerun the code block below after each modification you do, to see its current state.

In [145]:
employees

,Name,Email,Job title,Salary,Department
0,John Doe,john.doe@mockcompany.com,Sales Director,132000.0,Sales
1,Jane Smith,jane.smith@mockcompany.com,HR Coordinator,66000.0,Human Resources
2,Michael Johnson,michael.johnson@mockcompany.com,Software Engineer,121000.0,IT
3,Sarah Williams,sarah.williams@mockcompany.com,Marketing Specialist,82500.0,Sales
4,David Brown,david.brown@mockcompany.com,HR Manager,99000.0,Human Resources
5,Emily Davis,emily.davis@mockcompany.com,IT Support Specialist,60500.0,IT
6,Jacob Wilson,jacob.wilson@mockcompany.com,Sales Representative,88000.0,Sales
8,Ethan Lee,ethan.lee@mockcompany.com,Financial Analyst,93500.0,Sales
9,Sophia Taylor,sophia.taylor@mockcompany.com,HR Assistant,55000.0,Human Resources
10,Nils Nilsson,nils.nilsson@mockcompany.com,Software Engineer,30000.0,IT
11,Anna Jonsson,anna.jonsson@mockcompany.com,Software Engineer,30000.0,IT

**Do the following operations on the "employees" dataset:**

**OP1:** Create a new column "name" which contains the full name (eg. "John Doe") for each employee.

In [131]:
employees['name'] = employees['first_name'] + ' ' + employees['last_name']

<div style="display: inline">
<b>OP2:</b> Create a new column "email" with the following format: firstname.lastname@mockcompany.com
</div><br>

*Note: email addresses should be all lower case.*

In [132]:
employees['email'] = employees['first_name'].apply(str.lower) + '.' + employees['last_name'].apply(str.lower) + '@mockcompany.com'

**OP3:** Remove the columns "first_name" and "last_name", and put the columns "name" and "email" first.

In [133]:
employees = employees.loc[:, ['name', 'email', 'job_title', 'salary', 'department']]

**OP4:** Update column titles to make the first letter in each title upper case. Also replace the underscore character in "job_title" with a space.

In [134]:
employees.rename(str.capitalize, axis='columns', inplace=True)
employees.rename(columns={'Job_title': 'Job title'}, inplace=True)

**OP5:** Change the data type of column "Salary" to float64.

In [135]:
employees = employees.astype({'Salary': float})
employees['Salary']

0    120000.0
1     60000.0
2    110000.0
3     75000.0
4     90000.0
5     55000.0
6     80000.0
7    100000.0
8     85000.0
9     50000.0
Name: Salary, dtype: float64

**OP6:** The company decided to give everyone in sales a 10% salary increase. Update the dataset accordingly.

In [136]:
employees['Salary'] = employees['Salary'] * 1.1

**OP7:** The company hired a new software engineer. Add a new row with appropriate values to the dataset.

In [137]:
employees.loc[10] = {'Name': 'Johan Doe', 'Email': 'johan.doe@mockcompany.com', 'Job title': 'CEO', 'Salary': 100000, 'Department': 'Board'}

**OP8:** The company decided to hire a lot of new software engineers.

Create python code that asks the user to input the name and salary of the new software engineer, and then automatically adds the new employee to the dataset. Also, ensure that each employee get a unique index in the dataset.

In [144]:
input_name = input('Enter first name and last name:')

try:
    input_salary = float(input('Enter salary:'))
except ValueError:
    raise ValueError('salary must be numeric')

employees.loc[employees.index.max() + 1] = {'Name': input_name, 
                                            'Email': input_name.replace(' ', '.').lower() + '@mockcompany.com', 
                                            'Job title': 'Software Engineer', 
                                            'Salary': input_salary, 
                                            'Department': 'IT'}

**OP9:** Olivia Moore quits her job. Remove her data from the dataset.

In [138]:
employees.drop(employees[employees['Name'] == 'Olivia Moore'].index, inplace=True)

**OP10**: Make sure that the python script in *OP8* still gives a unique index to each new employee, even after removing rows.